.aboutInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bike_chain_img {
  width: 25%;
  object-fit: contain;
  margin-right: -72px;
}

.aboutInfoContainer p {
  width: 60%;
  text-align: justify;
}

@media (max-width: 576px) {
  .aboutInfoContainer {
    flex-direction: column;
  }

  .aboutInfoContainer p {
    width: 90%;
    padding-right: 5%;
  }

  .bike_chain_img {
    width: 55%;
    margin-left: 90px;
  }
}
