.modal.show .modal-dialog {
  width: 40%;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 30px;
  align-items: flex-end;
  width: 100%;
}

form {
  padding-top: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

input {
  color: #202020;
  border: 1.5px solid #5d5225;
  border-radius: 15px;
  background: transparent;
  height: 45px;
  width: 90%;
  padding-left: 10px;
}

input:focus {
  outline: none !important;
  border: 2px solid #5d5225;
  color: #202020;
}

input:focus::placeholder {
  color: transparent;
}

.error {
  outline: none !important;
  border: 3px solid rgba(237, 14, 14, 0.8);
}

@media (max-width: 576px) {
  .modal.show .modal-dialog {
    width: 90%;
  }
}
