.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
}

.mainInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 100px 140px;
}

.main_photo {
  width: 70%;
}

.main_p {
  text-align: center;
  width: 80%;
}

.main_icons {
  width: 30px;
}

.main_icons:hover {
  opacity: 0.6;
}

@media (max-width: 576px) {
  .iconsContainer {
    gap: 15px;
  }

  .mainInfoContainer {
    gap: 50px;
    padding: 0 0 100px 0;
  }

  .main_photo {
    width: 100%;
  }

  .main_p {
    text-align: justify;
    width: 90%;
  }
}
